<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view view-title="Contact Us">
  
  <ion-nav-buttons side="right">    
  </ion-nav-buttons>

  <ion-content class="has-header has-footer padding-topside full-height contactus">
    
     <img src="img/Contact.jpg" style="width:100%">            
      <article>
        <h1>Contact Us</h1>
        <p><strong>Website: </strong>www.sitichannels.in/siti_events</p>
        <p><strong>Address: </strong>201 New Park Street, Radiant Park Apartment, 5th Floor, Block - 5h, Kolkata&nbsp;-&nbsp;700 017</p>
        <p><strong>Email:</strong> sitichannelssupport@siticable.com</p>
        <p><strong>Mobile:</strong> +91 8335836660 (10 a.m - 7 p.m)</p>
        <p><strong>Profits from sale of Tickets will be donated to NGO - Snehalaya</strong></p>
      </article> 
  </ion-content>

</ion-view>
