
<ion-view view-title="Show Booking Details">
    <ion-content class="im-wrapper">
        <h3>Reservation Details</h3>
        <h4>Period : </h4>
        <h4>Pickup : </h4>
        <h4>Return : </h4>
        <h4>Cost : </h4> 
        <br/>
        <br/>
        <br/>       
        <button class="button button-raised button-assertive icon ion-flash ink-dark">Continue</button>        
        <!--<p>
            Use <strong>data-ink-color</strong> with a hexadecimal color value and <strong>data-ink-opacity</strong> with a decimal for opacity.
        </p>
         <p>
            <button class="button button-royal button-raised icon-right ion-ios-color-wand" data-ink-color="#CD3385" data-ink-opacity=".8">Activate Unicorn Juice</button>
            <br />
            <div class="code">&lt;button class="button button-royal button-raised icon-right ion-ios-color-wand" <strong class="balanced-900 bold balanced-100-bg">data-ink-color="#CD3385" data-ink-opacity=".8"</strong>&gt;&lt;/button&gt;</div>
            <br />
        </p> -->        
    </ion-content>
</ion-view>
